/* RESET */

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    border: none;
    outline: none;
}

img {
    max-width: none;
}

a {
    text-decoration: none;
}

p {
    font-size: 1em;
    color: #000;
}

/* FIM DO RESET */

/* ESTILIZAÇÃO */

#Titulo {
    display: flex;
    background-color: orange;
    justify-content: flex-end;
    margin-bottom: 3rem;
}

#Titulo h1 {
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
}

#Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

#Info img {
    width: 25%;
    height: 25%;
}

#Info p {
    padding-top: 0.5rem;
}

.Subtitulo {
    display: flex;
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 15px;
}

.Subtitulo h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.Conteudo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 15px;
    margin-left: 30px;
}

.Conteudo #detalhes {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    padding: 10px;
    margin-bottom: 15px;
}

.Conteudo #detalhes h1 {
    color: #fff;
    margin-right: 15px;
    font-weight: bold;
}

.Conteudo #detalhes p {
    color: #fff;
    font-style: italic;
    font-weight: 100;
}


#Comentario
{
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#Comentario .inputs input
{
   padding: 10px;
   border-radius: 10px;
   cursor: pointer;
}


#jquery 
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}